@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes dynamicSlideRight_1 {
    0% {
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
        opacity: 0.1;
        transform: scale(1) translateX(30px);
    }
    20% {
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
        transform: scale(1.1) translateX(20px);
    }
    to {
        opacity: 0.4;
        transform: scale(1) translateX(0);
    }
}

@keyframes dynamicSlideRight_2 {
    0% {
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
        opacity: 0.4;
        transform: scale(1) translateX(0);
    }
    20% {
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
        transform: scale(1.1) translateX(20px);
    }
    to {
        opacity: 0.1;
        transform: scale(1) translateX(30px);
    }
}

@keyframes dynamicSlideLeft_1 {
    0% {
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
        opacity: 0.1;
        transform: scale(1) translateX(-30px);
    }
    20% {
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
        transform: scale(1.1) translateX(-20px);
    }
    to {
        opacity: 0.4;
        transform: scale(1) translateX(0);
    }
}

@keyframes dynamicSlideLeft_2 {
    0% {
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
        opacity: 0.4;
        transform: scale(1) translateX(0);
    }
    20% {
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
        transform: scale(1.1) translateX(-20px);
    }
    to {
        opacity: 0.1;
        transform: scale(1) translateX(-30px);
    }
}

@keyframes lineDrawEffect {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes lineEraseEffect {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }
    80% {
        transform: translateX(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
