@import "../abstracts/variables";

.heroHeadline {
    text-align: center;

    h1 {
        font-size: 3rem;
        font-weight: 200;
        margin-left: auto;
        margin-right: auto;
        max-width: 60rem;
    }

    p {
        font-size: 3.5rem;
    }
}

.versionBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    width: 60%;
    gap: 3.5rem;
    align-items: center;
    margin: 2rem auto;

    div:first-child {
        animation: moveInLeft 1s ease-out;
    }

    div:nth-child(2) {
        margin-top: 0.75rem;
        background-color: hsl(120, 36%, 39%);
        animation: moveInBottom 1s ease-out;
    }

    div:nth-child(3) {
        animation: moveInLeft 1.5s ease-out;
    }

    div:nth-child(4) {
        background-color: hsl(217, 89%, 68%);
        animation: moveInBottom 1.5s ease-out;
    }

    div:nth-child(5) {
        animation: moveInLeft 2s ease-out;
    }

    div:nth-child(6) {
        background-color: hsl(200, 100%, 50%);
        animation: moveInBottom 2s ease-out;
    }
}

.versionBlockImgCell {
    display: grid;
    justify-items: end;
}

.versionBlockCell {
    display: grid;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-weight: 800;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    background-color: indianred;
}
