@import "../abstracts/variables";
@import "../abstracts/animations";

.heroImage {
    color: $electron-color-light;
    animation: 0.5s forwards fadeInScaleUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.heroImageComponents_1 {
    &:first-child {
        animation: 0.8s 1.54s both dynamicSlideLeft_1;
    }

    &:nth-child(2) {
        animation: 0.8s 1.58s both dynamicSlideRight_1;
    }

    &:nth-child(3) {
        animation: 0.8s 1.62s both dynamicSlideLeft_1;
    }

    &:nth-child(4) {
        animation: 0.8s 1.66s both dynamicSlideRight_1;
    }

    &:nth-child(5) {
        animation: 0.8s 1.7s both dynamicSlideLeft_1;
    }

    &:nth-child(6) {
        animation: 0.8s 1.74s both dynamicSlideRight_1;
    }

    &:nth-child(7) {
        animation: 0.8s 1.78s both dynamicSlideLeft_1;
    }

    &:nth-child(8) {
        animation: 0.8s 1.82s both dynamicSlideRight_1;
    }

    &:nth-child(9) {
        animation: 0.8s 1.86s both dynamicSlideLeft_1;
    }

    &:nth-child(10) {
        animation: 0.8s 1.9s both dynamicSlideRight_1;
    }

    &:nth-child(11) {
        animation: 0.8s 1.94s both dynamicSlideLeft_1;
    }

    &:nth-child(12) {
        animation: 0.8s 1.98s both dynamicSlideRight_1;
    }

    &:nth-child(13) {
        animation: 0.8s 2.02s both dynamicSlideLeft_1;
    }

    &:nth-child(14) {
        animation: 0.8s 2.06s both dynamicSlideRight_1;
    }
}

.heroImageComponents_2 {
    &:first-child {
        animation: 0.8s 2.06s both dynamicSlideLeft_2;
    }

    &:nth-child(2) {
        animation: 0.8s 2.02s both dynamicSlideRight_2;
    }

    &:nth-child(3) {
        animation: 0.8s 1.98s both dynamicSlideLeft_2;
    }

    &:nth-child(4) {
        animation: 0.8s 1.94s both dynamicSlideRight_2;
    }

    &:nth-child(5) {
        animation: 0.8s 1.9s both dynamicSlideLeft_2;
    }

    &:nth-child(6) {
        animation: 0.8s 1.86s both dynamicSlideRight_2;
    }

    &:nth-child(7) {
        animation: 0.8s 1.82s both dynamicSlideLeft_2;
    }

    &:nth-child(8) {
        animation: 0.8s 1.78s both dynamicSlideRight_2;
    }

    &:nth-child(9) {
        animation: 0.8s 1.74s both dynamicSlideLeft_2;
    }

    &:nth-child(10) {
        animation: 0.8s 1.7s both dynamicSlideRight_2;
    }

    &:nth-child(11) {
        animation: 0.8s 1.66s both dynamicSlideLeft_2;
    }

    &:nth-child(12) {
        animation: 0.8s 1.62s both dynamicSlideRight_2;
    }

    &:nth-child(13) {
        animation: 0.8s 1.58s both dynamicSlideLeft_2;
    }

    &:nth-child(14) {
        animation: 0.8s 1.54s both dynamicSlideRight_2;
    }
}

.heroImageComponents_1,
.heroImageComponents_2,
.logoFill {
    fill: $electron-color-light;
}

.heroImageComponents_1,
.heroImageComponents_2,
.logoUtil_1,
.logoUtil_2 {
    transform-origin: 50% 50%;
}

.logoUtil_1 {
    stroke: $electron-color-light;
    stroke-width: 5;
    stroke-linecap: round;

    &:first-child {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.7s forwards
            lineDrawEffect;
    }

    &:nth-child(2) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.8s forwards
            lineDrawEffect;
    }

    &:nth-child(3) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.9s forwards
            lineDrawEffect;
    }

    &:nth-child(4) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1s forwards
            lineDrawEffect;
    }

    &:nth-child(5) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.1s forwards
            lineDrawEffect;
    }

    &:nth-child(6) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.2s forwards
            lineDrawEffect;
    }

    &:nth-child(7) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.3s forwards
            lineDrawEffect;
    }

    &:nth-child(8) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.4s forwards
            lineDrawEffect;
    }

    &:nth-child(9) {
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.5s forwards
            lineDrawEffect;
    }
}

.logoUtil_2 {
    stroke: $electron-color-light;
    stroke-width: 5;
    stroke-linecap: round;

    &:first-child {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.5s forwards
            lineEraseEffect;
    }

    &:nth-child(2) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.4s forwards
            lineEraseEffect;
    }

    &:nth-child(3) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.3s forwards
            lineEraseEffect;
    }

    &:nth-child(4) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.2s forwards
            lineEraseEffect;
    }

    &:nth-child(5) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1.1s forwards
            lineEraseEffect;
    }

    &:nth-child(6) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 1s forwards
            lineEraseEffect;
    }

    &:nth-child(7) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.9s forwards
            lineEraseEffect;
    }

    &:nth-child(8) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.8s forwards
            lineEraseEffect;
    }

    &:nth-child(9) {
        stroke-dasharray: 1000;
        animation: 1s cubic-bezier(0.05, 0.35, 0.2, 1) 0.7s forwards
            lineEraseEffect;
    }
}

.logoLine {
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
}

.logoCircle {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
}
